<div>
    <div id="footer" class="footer">
        <br>
        <p>Desarrollado por <b>Dayanna Macay - Anthony Luzon - Denis Chasipanta</b> 2024 <i class="bi bi-check2-circle"></i></p>
        <hr>
        <div class="siguenos row">
            <div class="col-lg-4 icono-red-social">
                <a href=""><i class="bi bi-facebook"></i></a>
            </div>
            <div class="col-lg-4 icono-red-social">
                <a href=""><i class="bi bi-instagram"></i></a>
            </div>
            <div class="col-lg-4 icono-red-social">
                <a href=""><i class="bi bi-twitter-x"></i></a>
            </div>
        </div>
<br>
    </div>

</div>
