<form>
    <div class="mb-3">
        <label for="fecha" class="form-label">Fecha:</label>
        <input type="date" class="form-control" name="fecha" id="fecha">
    </div>
    <div class="mb-3">
        <label for="titulo" class="form-label">Título</label>
        <input type="text" class="form-control" name="titulo" id="titulo">
    </div>
    <div class="mb-3">
        <label for="contenido" class="form-label">Contenido</label>
        <textarea class="form-control" name="contenido" id="contenido" rows="4"></textarea>
    </div>
    <br>
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-light">Registrar entrada</button>
    </div>    
</form>

