<form (ngSubmit)="saveEntry(form)" #form="ngForm">
    <div class="mb-3">
        <label for="fecha" class="form-label">Fecha:</label>
        <input type="date" class="form-control" name="fecha" [(ngModel)]="date" required>
    </div>
    <div class="mb-3">
        <label for="titulo" class="form-label">Título</label>
        <input type="text" class="form-control" name="titulo" id="titulo" [(ngModel)]="title" required>
    </div>
    <div class="mb-3">
        <label for="contenido" class="form-label">Contenido</label>
        <textarea class="form-control" name="contenido" id="contenido" rows="4" [(ngModel)]="message"
            required></textarea>
    </div>
    <br>
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-light" data-bs-dismiss="modal">Registrar entrada</button>
    </div>
</form>