<form>
    <div class="mb-3">
        <label for="fechaEE" class="form-label">Fecha:</label>
        <input type="date" class="form-control" name="date" #date>
    </div>
    <div class="mb-3">
        <label for="tituloEE" class="form-label">Título</label>
        <input type="text" class="form-control" name="title" #title>
    </div>
    <div class="mb-3">
        <label for="contenidoEE" class="form-label">Contenido</label>
        <textarea class="form-control" name="message" rows="4" #message></textarea>
    </div>
    <br>
    <div class="d-flex justify-content-center">
        <div class="row">
            <div class="col-lg-6"><button type="submit" class="btn btn-light" (click)="updateMessage(message.value, title.value, date.value)">Editar</button></div>
            <div class="col-lg-6"><button type="submit" class="btn btn-light" (click)="deleteMessage()"><i class="bi bi-trash-fill"></i></button></div>
        </div>
    </div>    
</form>