<form (ngSubmit)="saveUsers(form)" #form="ngForm">
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre completo</label>
        <input type="text" class="form-control" name="nombre" [(ngModel)]="nombreCompleto">
    </div>
    <div class="mb-3">
        <label for="usuario" class="form-label">Usuario</label>
        <input type="text" class="form-control" name="usuario" [(ngModel)]="usuario">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="password">
    </div>
    <br>
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-light">Registrarse</button>
    </div>    
</form>
